/* * {
    border: 5px solid green;
} */
img {
    border: 5px solid green;
    /* display:block; */
    /* width: 1000px; */
    width: 50%;
    /* can also set a max width, even if the screen is bigger it'll stop at set amount of pixels*/
    /* height: 300px; */
    /* margin: 0 auto; */
    
}
h1, p {
    /* display: inline-block; */
    border: 5px solid blue;
    text-align:center
}
#image-box{
    text-align: center;
}
p{
    font-size: 30px;
}